body.light-theme {
    background-color: #ffffff;
    color: #333333;
}

body.dark-theme {
    background-color: #333333;
    color: #ffffff;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}